<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
    <key>UIAppFonts</key>
    <array>
        <string>Behdad.ttf</string>
        <string>DimaShekasteh.ttf</string>
        <string>Mikhak.ttf</string>
        <string>Shekasteh.ttf</string>
        <string>Tanha.ttf</string>
        <string>Vazirmatn.ttf</string>
    </array>
    <key>ATSApplicationFontsPath</key>
    <string>.</string>
</dict>
</plist>
